.input--search{
    margin-top: 6rem;
    width: 45rem;
    background-color: #fff;
    position: relative;
    border-radius: 30px;
}

.icon--search{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    color: #000;
    font-size: 2.5rem;
}

.input--search input{
    padding: 1.5rem 1.5rem 1.5rem 6rem;
    width: 100%;
    outline: none;
    border-radius: 30px;
    border: none;
    color: #44352d ;
    font-size: 1.8rem;
}

.input--search input::placeholder{
    font-style: italic;
    font-weight: 300;
}